@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Inter:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: 'Inter', sans-serif;
}
.container-alimentos{
    background-color: #ffd000;
}
.container-liquidos{
    background-color: #003952;
}
.header{
    display: flex; 
    background-color: #ffd000;
}
.logo{
    width: 130px;
    height: auto;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.cardapioNav{
    width: 100%;
    display: flex;
    margin-right: 8rem;
    align-items: center;
    flex-direction: column;
}
.TitleCardapio{
    font-size: 3.7rem;
    color: #003952;
    font-family: 'Croissant One', cursive, sans-serif;
}
.navItems{
    display: flex;
    gap: 1rem;
    margin-top: 0.2rem;
}
.itemNav{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    transition: 0.5s;
}
.itemNav:hover{
    text-decoration:underline; 
}


/* Section Pestiscos */
.divTitlesItems{
    display: flex;
    justify-content: center;
}
.titlesItems{
    font-size: 2.7rem;
    color: #003952;
    margin-top: 4%;
    font-family: 'Croissant One', cursive, sans-serif;
    text-decoration: underline;
}
.titlesItemsLiquidos{
    color: #ffd000;
    font-size: 2.7rem;
    margin-top: 4%;
    font-family: 'Croissant One', cursive, sans-serif;
    text-decoration: underline;
}
.SubtitlesItems{
    background: #003952;
    text-align: center;
    color: #ffd000;
    font-size: 2rem;
    margin-top: 3%;
    font-family: 'Croissant One', cursive, sans-serif;
    border-radius: 20px;
    padding: 5px;
}
.SubtitlesItemsDrink{
    background: #ffd000;
    text-align: center;
    color: #003952;
    font-size: 2rem;
    margin-top: 3%;
    font-family: 'Croissant One', cursive, sans-serif;
    border-radius: 20px;
    padding: 5px;
}
.DivSubtitlesItems,.DivSubtitlesItemsDrink{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divImgPetiscos{
    display: flex;justify-content: center;
    margin-top: 1rem;
}
.imgPetiscos{
    width: 230px;
    height: auto;
border-radius: 10px;
}

/* Items Petiscos */
.divItemsPetiscos{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 5.5px dotted #003952;
}
.divItemsDrinks{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 5.5px dotted #ffd000;
}

.itemCardapio{
    font-size: 1.3rem;
    color: #000;
    font-weight: 900;
}

.itemCardapioDrink{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 900;
}

.itemCardapioObs{
    display: flex;
    flex-direction: column;
}

.obsItem{
    font-size: 0.80rem;
    font-weight: 600;
}

.doseQuartinho{
    display: flex;
    flex-direction: column;
}

.doseQuartinhoDrink{
    margin-top: 1.72rem;
}
@media(max-width:580px){
    .navItems{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header{      
        justify-content: center;
        flex-wrap: wrap;

    }
    .cardapioNav{
        margin-right:  0;
    }
    .itemCardapio,.itemCardapioDrink{
        font-size: 1.08rem;
        margin: 0px 6px 0px 6px ;
    }
}

@media(max-width:340px){
    .TitleCardapio{
        font-size: 3rem;

    }
    .itemCardapio,.itemCardapioDrink{
        font-size: 1rem;
    
    }  
    .divItemsPetiscos{      
        border-bottom: 4px dotted #003952;
    }
    .divItemsDrinks{    
        border-bottom: 4px dotted #ffd000;
    }
    .SubtitlesItems{   
        font-size: 1.6rem;
    }
    .SubtitlesItemsDrink{
        font-size: 1.6rem;
    }
}